<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre - Home</title>

    <script src="https://kit.fontawesome.com/76d25d6fff.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <header class="header">
        <div class="header-logo-search">
            <img class="logo" src="images/logo-mercado-liebre.svg" alt="logo">
            <div class="ctrl_search">
                <button class="search__label"><i class="fas fa-search"></i> </button>
                <input type="search" placeholder="Buscar productos" id="search" class="search__input">
            </div>
        </div>
        <span><i class="fas fa-hand-holding-usd"></i> Comprá en cuotas y sin tarjeta de crédito</span>
        <div class="hamburguesa">
            <i class="fas fa-bars"></i>

        </div>
    </header>

    <nav class="nav-mobile" id="nav-mobile">
        <ul>
            <li><a href="#ofertas">Ofertas</a></li>
            <li><a href="#">Tiendas Oficiales</a></li>
            <li><a href="#">Vender</a></li>
            <li><a href="#">Ayuda</a></li>
            <li><a href="#">Crea tu cuenta <i class="far fa-id-card"></i>
            </a></li>
            <li><a href="#">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
            <li><a href="#">Mis Compras <i class="fas fa-shopping-basket"></i></a></li>
        </ul>
    </nav>
    <div class="banner">
        <img src="images/img-home-banner.jpg" alt="banner">           
    </div>
    <main>
        <section class="products">
            <h3 class="products-anuncio">Basado en tu última visita</h3>
            <article class="product">
                <img src="images/img-cafetera-moulinex.jpg" alt="cafetera">
                <div class="detalle">
                    <span class="precio">$6.770</span>
                    <span class="descuento">40% off</span>
                </div>
                <h3>Cafetera Moulinex</h3>
            </article>
            
            <article class="product">
                <img src="images/img-macbook-pro-2019.jpg" alt="Mac">
                <div class="detalle">
                    <span class="precio">$230.000</span>
                    <span class="descuento">20% off</span>
                </div>
                <h3>MacBook Pro 2019</h3>
            </article>
            <article class="product">
                <img src="images/img-samsung-galaxy-s10.jpg" alt="Samsung">
                <div class="detalle">
                    <span class="precio">$70.500</span>
                    <span class="descuento">10% off</span>
                </div>
                <h3>Samsung Galaxy S10</h3>
            </article>
            <article class="product">
                <img src="images/img-tv-samsung-smart.jpg" alt="Smart TV">
                <div class="detalle">
                    <span class="precio">$23.200</span>
                    <span class="descuento">5% off</span>
                </div>
                <h3>SmartTv Samsung 43"</h3>
            </article>
        </section>

        <section class="products" id="ofertas">
            <h3 class="products-anuncio">Sección de Ofertas</h3>
            <article class="product">
                <img src="images/img-cafetera-moulinex.jpg" alt="cafetera">
                <div class="detalle">
                    <span class="precio">$6.770</span>
                    <span class="descuento">40% off</span>
                </div>
                <h3>Cafetera Moulinex</h3>
            </article>
            <article class="product">
                <img src="images/img-macbook-pro-2019.jpg" alt="Mac">
                <div class="detalle">
                    <span class="precio">$230.000</span>
                    <span class="descuento">20% off</span>
                </div>
                <h3>MacBook Pro 2019</h3>
            </article>
            <article class="product">
                <img src="images/img-samsung-galaxy-s10.jpg" alt="Samsung">
                <div class="detalle">
                    <span class="precio">$70.500</span>
                    <span class="descuento">10% off</span>
                </div>
                <h3>Samsung Galaxy S10</h3>
            </article>
            <article class="product">
                <img src="images/img-tv-samsung-smart.jpg" alt="Smart TV">
                <div class="detalle">
                    <span class="precio">$23.200</span>
                    <span class="descuento">5% off</span>
                </div>
                <h3>SmartTv Samsung 43"</h3>
            </article>
        </section>
    </main>

    <footer class="footer">
        <article class="footer-section">
            <i class="fas fa-credit-card footer_icon"></i>
            <h4>Pagá con tarjeta o en efectivo</h4>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
        </article>
        <article class="footer-section">
            <i class="fas fa-gift footer_icon"></i>
            <h4>Envío gratis desde $ 2.500</h4>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
        </article>
        <article class="footer-section">
            <i class="fas fa-user-shield footer_icon"></i>
            <h4>Seguridad, de principio a fin</h4>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
        </article>

        <div class="copyright">
            Copyright © 1999-2020 MercadoLiebre S.R.L.
        </div>
        
    </footer>

    <script src="js/scripts.js"></script>
</body>
</html>